# output image name, usually same as repo name, change as needed
IMAGE_NAME=floofyos

# Make this the same as your github username/organisation
REPO_ORGANIZATION="eteq"

IMAGE_DESC="FloofyOS"
IMAGE_KEYWORDS="bootc,ublue,universal-blue,linux,science"

# Put your own image here for a fancy profile on https://artifacthub.io/!
IMAGE_LOGO_URL="https://avatars.githubusercontent.com/u/346587?s=200&v=4"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
